<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>관리자 페이지</title>
</head>
<body>

<h1>관리자 페이지</h1>
<ul>
    <li><a href="/admin/user">회원 관리</a></li>
    <li><a href="/admin/board">게시글 관리</a></li>
    <li><a href="/admin/stat">통계 관리</a></li>
    <li><a href="/admin/report">신고 목록 및 블랙리스트 관리</a></li>
</ul>

<hr>

<h3>게시글 관리</h3>
<div class="container">
    <table border="1">
        <thead>
        <tr>
            <td>번호</td>
            <td>작성자</td>
            <td>제목</td>
            <td>숨김여부</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${boardList}">
            <td th:text="${board.boardId}"></td>
            <td th:text="${board.username}"></td>
            <td th:text="${board.title}"></td>
            <td th:text="${board.hide}"></td>
            <td>
                <a th:href="@{|/admin/board/${board.boardId}|}">
                    숨김변경
                </a>
                <a th:href="@{|/admin/board/delete/${board.boardId}|}">
                    삭제
                </a>
                <a th:href="@{|/admin/board/black/${board.boardId}|}">
                    블랙리스트 등록
                </a>
            </td>
            </form>
        </tr>
        </tbody>
    </table>
</div>
</body>
