<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>
</head>
<body>
<h1>관리자 페이지</h1>
<ul>
    <li><a href="/admin/user">회원 관리</a></li>
    <li><a href="/admin/board">게시글 관리</a></li>
    <li><a href="/admin/stat">통계 관리</a></li>
    <li><a href="/admin/report">신고 목록 및 블랙리스트 관리</a></li>
</ul>
<hr>
<h3>메일 전송</h3>
<form th:action="@{/admin/email/send}" method="post">
    <table>
        <tr>
            <td>메일 주소</td>
            <td>
                <input type="text" name="to" placeholder="이메일 주소를 입력하세요">
            </td>
        </tr>
        <tr>
            <td>제목</td>
            <td>
                <input type="text" name="subject" placeholder="제목을 입력하세요">
            </td>
        </tr>
        <tr>
            <td>내용</td>
            <td>
                <textarea name="message" placeholder="보낼 내용을 입력하세요"> </textarea>
            </td>
        </tr>
    </table>
    <button>발송</button>
</form>
</body>
</html>