<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
</head>
<body>
<h1>관리자 페이지</h1>
<ul>
    <li><a href="/admin/user">회원 관리</a></li>
    <li><a href="/admin/board">게시글 관리</a></li>
    <li><a href="/admin/stat">통계 관리</a></li>
    <li><a href="/admin/report">신고 목록 및 블랙리스트 관리</a></li>
</ul>
<hr>
<h3>회원 관리</h3>
<div class="container">
    <table border="1">
        <thead>
        <tr>
            <td>아이디</td>
            <td>이메일</td>
            <td>닉네임</td>
            <td>가입일</td>
            <td>등급</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${userList}">
            <form th:action="@{/admin/user/{userId}(userId=${user.userId})}" method="post">
                <td th:text="${user.username}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.nickname}"></td>
                <td th:text="${user.createdAt}"></td>
                <td th:text="${user.authority}"></td>
                <td>
                    <select name="authority">
                        <option value="SPROUT">새싹</option>
                        <option value="GREAT">우수</option>
                        <option value="BLACK">블랙</option>
                    </select>
                </td>
                <td>
                    <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                        변경
                    </button>
                </td>
                </td>
            </form>
        </tr>
        <button th:onclick="|location.href='@{/admin/email}'|">
            이메일 전송
        </button>
        </tbody>
    </table>
</div> <!-- /container -->
</body>
</html>